werkzeug
flask
future
redis
celery
flower
mysqlclient
bcrypt
jinja2==2.11.3
PyJWT==1.4.0
Flask-Restless
Flask-SQLAlchemy
Flask-Security
Flask-Mail
Flask-JWT
Flask-Migrate
Flask-Script
flask-cors
flask-praetorian
Flask-MonitoringDashboard
